:root {
    --primary: #c02425;
    --secondary: #f0cb35;
  }
  
  header {
    text-align: center;
    padding: 25px;
    font-size: 50px;
    color: white;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
  }

  .my-colleft {
    padding-top: 10px;
  }
  
  .my-colright {
    border: solid;
    margin-top: 10px;
    padding-top: 5px;
  }
  
  .mysearchbtn,
  .mycardsright {
    margin-top: 10px;
  }

  .mycardsright {
    display: inline-block;
    padding-right: 36px;
    height: 80%;
  }
  
  .titles {
    padding-top: 17px;
  }
  